<template>
  <section>
    <br>
    <!-- Fields: text, password, textarea, number, url, email -->
    <b-field :label="field.name" v-for="field in formFields" :key="field" v-if="field.type=='password' || field.type=='text' || field.type=='number' || field.type=='textarea' || field.type=='email' || field.type=='url'">
      <b-input :type="field.type"></b-input>
    </b-field>
    <!-- Field: radio -->
    <div class="block" v-for="field in formFields" :key="field" v-if="field.type=='radio'">
      <b-radio :native-value="option" v-for="option in field.options" :key="option"> {{option}} </b-radio>
    </div>
    <!-- Field: select -->
    <b-field :label="field.name" v-for="field in formFields" :key="field" v-if="field.type=='select'">
      <b-select placeholder="Select an option">
        <option v-for="option in field.options" :value="option" :key="option">
          {{ option }}
        </option>
      </b-select>
    </b-field>
    <!-- Field: checkbox -->
    <div class="field" v-for="field in formFields" :key="field" v-if="field.type=='radio'">
      <b-checkbox v-for="option in field.options" :key="option">{{option}}</b-checkbox>
    </div>
    <!-- Field: date -->
    <b-field :label="field.name" v-for="field in formFields" :key="field" v-if="field.type=='date'">
      <b-datepicker placeholder="Click to select..." icon="calendar-today">
      </b-datepicker>
    </b-field>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        id: this.$route.params.id,
        fields: null
      }
    },
    computed: {
      hostname() {
        return 'https://a7v3z2enn6.execute-api.us-west-2.amazonaws.com/dev'
      },
      formFields() {
        let ff = []
        if (this.fields) {
          this.fields.forEach(element => {
            element.fields.forEach(fld => {
              ff.push(fld)
            })
          })
        }
        return ff
      }
    },
    methods: {
      success() {
        this.$toast.open({
          message: 'Something happened correctly!',
          type: 'is-success'
        })
      }
    },
    mounted() {
      let url = `${this.hostname}/risks/${this.id}/`
      fetch(url)
        .then((resp) => resp.json()) // Transform the data into json
        .then((data) => this.fields = data)
    }
  }
</script>
