<template>
  <div class="hello"> <br>
    <div v-for="risk in risks" :key="risk.id">
        <div class="card">
          <div class="card-content">
            <p class="title">
              {{risk.insurer}}
            </p>
            <p class="subtitle">
              Number of fields: {{risk.fields.length}}
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <strong><router-link :to="`/${risk.id}/form`">Risk Insurer Form</router-link></strong>
              </span>
            </p>
          </footer>
        </div><br>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      risks: null,
      submissions: null
    }
  },
  computed: {
    hostname() {
      return 'https://a7v3z2enn6.execute-api.us-west-2.amazonaws.com/dev'
    }
  },
  mounted(){
    let url = `${this.hostname}/risks/`
    fetch(url)
    .then((resp) => resp.json()) // Transform the data into json
    .then((data) => this.risks = data
    )
  },
  methods: {
      success() {
             this.$toast.open({
                message: 'Something happened correctly!',
                type: 'is-success'
            })
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  color: #42b983;
}
</style>
