<template>
    <section>
    <div class="columns">
        <b-field label="Insurer Name" class="column">
            <b-input v-model="riskObj.insurer"></b-input>
    </b-field>
    </div>
    <div class="columns">
        <b-field label="Field Name" class="column">
            <b-input v-model="fieldObj.name"></b-input>
        </b-field>
        <b-field label="Field Type" class="column">
            <b-select placeholder="Select a field type" v-model="fieldObj.type" expanded>
                <option value="text">Text</option>
                <option value="textarea">TextArea</option>
                <option value="date">Date</option>
                <option value="number">Number</option>
                <option value="checkbox">Checkbox</option>
                <option value="select">Select</option>
                <option value="radio">Radio</option>
                <option value="url">URL</option>
                <option value="password">Password</option>
                <option value="email">Email</option>
            </b-select>
        </b-field>
    </div>

    <div v-show="hasOption">
        Fields: {{optionsList}}
        <fieldset>
        <b-field label="Field Option" class="column">
            <b-input v-model="option"></b-input>
        </b-field>
        <button class="button is-small" @click.prevent="addOption()"> Save / Add Another Option </button> 
        </fieldset>
    </div>
    <br>
    <button class="button is-primary is-small" @click.prevent="addField()"> Add New Field </button> <br>

    <p>Fields Preview: </p>
    <pre>
        {{ createdFields }}
    </pre>
    <button class="button is-success" @click.prevent="saveRisk()"> Save Risk Fields </button>
    </section>
</template>

<script>
export default {
  data () {
    return {
        fieldObj: {},
        createdFields: [],
        option: "",
        optionsList: [],
        riskObj: {}
    }
  },
  computed: {
    hostname() {
      return 'https://a7v3z2enn6.execute-api.us-west-2.amazonaws.com/dev'
    },
      hasOption(){
          if (this.fieldObj.type == 'checkbox' || this.fieldObj.type == 'radio' || this.fieldObj.type == 'select') {
              return true
          }
          return false
      }
  },
  methods: {
      addOption(){
          this.optionsList.push(this.option)
          this.option = ""
      },
      addField(){
          if (this.hasOption) {
              this.fieldObj.options = this.optionsList
          }
          this.createdFields.push(this.fieldObj)
          this.fieldObj = {}
          this.optionsList = []
          return this.fieldCount += 1
      },
      saveRisk(){
          if (this.riskObj.insurer == null || this.fieldObj.length < 1) {
              this.toast('is-danger', 'Some fields are empty')
              return false
          }
          let url = `${this.hostname}/risks/`
          this.riskObj.fields = this.createdFields
          fetch(url, {
            method: 'POST',
            body: JSON.stringify(this.riskObj),
            headers:{
                'Content-Type': 'application/json'
            }
            }).then(res => res.json())
            .then(response => console.log('Success:', JSON.stringify(response)))
            .catch(error => console.error('Error:', error));
            this.toast('is-success', 'Risk Insurer Form Created Successfully!')
            this.riskObj = {}
            this.fieldObj = {}
      },
      toast(toastType, message) {
             this.$toast.open({
                message: message,
                type: toastType
            })
      }
  },
  mounted(){
  }
}
</script>
