<template>
  <div id="app">
        <nav class="navbar is-success" role="navigation" aria-label="main navigation" id="navbarBasicExample">
        <div class="navbar-brand">
          <router-link to="/" class="navbar-item" tag="b">Brite Core Challenge</router-link>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <router-link to="/" class="navbar-item">All Risk Insurers</router-link>
            <router-link to="/new" class="navbar-item">New Risk Insurer</router-link>
          </div>
        </div>
      </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>